<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Detail</th>
      <th scope="col">In (MYR)</th>
      <th scope="col">Out (MYR)</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'transaction_list', collection: transactions, as: :trans %>
  </tbody>
</table>