<tr>
  <th scope="row"><%= trans.created_at.strftime('%d/%m/%Y') %></th>
  <td><%= transaction_detail(trans) %></td>
  <td>
    <% if money_in? trans %>
      <%= number_with_precision(trans.amount, precision: 2) %>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    <% if money_out? trans %>
      <%= number_with_precision(trans.amount, precision: 2) %>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    -
  </td>
</tr>