<div class="modal fade" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="withdrawModalLabel">Withdrawal</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
      </div>
      <div class="modal-body">
        <%= render partial: 'withdrawal_form' %>
      </div>
    </div>
  </div>
</div>